* {
  border: 0;
  margin: 0;
}

.nav-bar {
  position: fixed;
  width: 100%;
  background-color: rgba(243, 243, 243, .9);
  z-index: 1;
  top: 0;
}

.nav-bar h1 {
  font-family: 'Raleway Dots', cursive;
  font-weight: 100;
  font-size: 2.4rem;
  display: inline-block;
  position: relative;
  left: 2rem;
  top: 0.5rem;
}

ul {
  display: inline-block;
  float: right;
  font-size: 1.2rem;
}

li {
  display: inline-block;
  list-style-type: none;
  margin: 1rem;
  opacity: 0.7;
}

a {
  text-decoration: none;
}

li:hover {
  opacity: 1;
}

.content {
  background-image: linear-gradient(
    to bottom left,
    rgba(143, 197, 224, .7),
    rgba(240, 100, 35, .25),
    rgba(250, 190, 45, .25)
  );
  padding-top: 100px;
}

.about {
  padding-bottom: 100px;
}
h1 {
  text-align: center;
  padding-bottom: 20px;
}

.about img {
  max-width: 100%;
  min-width: 200px;
  height: auto;
  display: block;
  border: 1px dotted gray;
  border-radius: 50%;
  margin: auto;
}

.work {
  padding-bottom: 200px;
}

h2 {
  text-align: center;
  padding-bottom: 10px;
}
form {
  position: relative;
  left: 50%;
  transform: translatex(-200px);
  width: 400px;
  padding-bottom: 100px;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  display: inline-block;
  width: 300px;
  box-sizing: border-box;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
 padding-left: 90px;
}
button {
  margin-left: .5em;
}
footer {
  width: 100%;
  text-align: center;
  background-image: linear-gradient(
    to bottom left,
    rgba(143, 197, 224, .2),
    rgba(240, 100, 35, .1),
    rgba(250, 190, 45, .1)
  );
  padding: 10px 0 10px 0;
}

footer > * {
  display: inline-block;
  width: 49%;
}

.author a {
  text-decoration: none;
}

.links a {
  font-size: 1.5rem;
}

.links .fa {
  text-decoration: none;
  opacity: .8;
  margin: 0 2%;
}

.links .fa:hover {
  opacity: 1;
}

a:visited {
  color: black;
}

a {
  color: black;
}

@media only screen and (max-width: 480px) {
  .about img {
    max-width: 50%;
    min-width: 45%;
  }
}
@media only screen and (min-width: 480px) {
  .about img {
    max-width: 35%;
  }
}
@media only screen and (min-width: 768px) {
  .about img {
    max-width: 20%;
  }
}
